flask
flask-cors
pymilvus==2.4.7
transformers
torch
scikit-learn
gunicorn
numpy
pymongo
openai
requests
line-bot-sdk==2.0.1
dnspython==2.3.0
flask_swagger_ui
flask-jwt-extended
pyjwt<2.10
python-socketio[client]
timezonefinder==6.5.8
geopy
accelerate